@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-size: 13px;
    overflow-x: hidden;
}

/*Cabeçalho*/
header {
    height: 100px;
    background-color: #000;
    color: #FFF;
}
.header-content {
    max-width: 1140px;
    height: 100px;
    background-color: #000;
    margin: auto;
    display: flex;
    align-items: center;
}
.logo {
    width: 100px;
}
.logoimg {
    width: 80px;
    height: 80px;
    background-color: #B28756;
    border-radius: 50%;
}
.menu {
    display: flex;
    flex: 1;
    justify-content: flex-end;
}
.menu ul, .menu li {
    list-style: none;
}
.menu ul {
    display: flex;
}
.menu li a {
    color: #FFF;
    text-transform: uppercase;
    font-weight: 600;
    text-decoration: none;
    height: 100px;
    padding: 0 10px;
    display: flex;
    align-items: center;
    border-bottom: 5px solid #000;
}

.menu li a:hover, .menu .active a {
    border-bottom: 5px solid #B28756;
    color: #CCC;
}

.main-banner {
    height: calc(100vh - 100px);
    background-color: #CCC;
    background-image: url('../images/bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom center;
    overflow: hidden;
}
.main-banner .carousels {
    width: 100vw;
    height: 100%;
}
.main-banner .carousel {
    width: 100vw;
    height: 100%;
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.7);
}
.carousel .carousel-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #FFF;
}
.carousel-content h1 {
    font-size: 50px;
    text-transform: uppercase;
}
.carousel-content h1 span {
    color: #B28756;
}
.carousel-content h2 {
    text-transform: uppercase;
    margin-top: 10px;
}
.carousel-content a {
    text-transform: uppercase;
    background-color: #B28756;
    color: #FFF;
    font-size: 12px;
    font-weight: bold;
    margin-top: 30px;
    padding: 10px 40px;
    border-radius: 20px;
    text-decoration: none;
}
.carousels-pointers {
    width: 100vw;
    height: 20px;
    position: absolute;
    margin-top: -50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.carousels-pointers .pointer {
    width: 15px;
    height: 15px;
    border: 2px solid #B28756;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
}
.pointer.active {
    background-color: #B28756;
}

/*Section Padrão*/
.section-default {
    padding: 50px 0;
}
.section-default .section-title {
    font-size: 20px;
}
.section-default .section-subtitle {
    font-size: 12px;
    color: #CCC;
    margin: 12px 0 40px 0;
}
.section-default .section-title, .section-default .section-subtitle {
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
}
.section-default .section-body {
    max-width: 1140px;
    margin: auto;
}

/*Definições Default*/
.section-default.light {
    background-color: #F7F7F7;
}
.section-default.light .section-title, .section-default.light .section-body  {
    color: #000
}

.section-default.dark {
    background-color: #000;
}
.section-default.dark .section-title, .section-default.dark .section-body {
    color: #FFF;
}
.button {
    text-transform: uppercase;
    background-color: #B28756;
    color: #FFF;
    font-size: 12px;
    font-weight: bold;
    margin-top: 30px;
    padding: 10px 40px;
    border-radius: 20px;
    text-decoration: none;
    display: inline-block;
}

/*Main - About Us*/
.aboutUs {
    display: flex;
}
.aboutUs--left {
    flex: 1;
}
.aboutUs--left p {
    font-size: 14px;
    line-height: 25px;
}
.aboutUs--right {
    width: 520px;
    text-align: center;
}
.aboutUs--right img {
    width: 520px;
    box-shadow: 2px 5px 10px #333;
}

/*Main - Services*/
.services {
    display: flex;
    padding: 15px;
}
.services-item {
    flex: 1;
    text-align: center;
    border-left: 2px solid #333;
}
.services-item:nth-child(4) {
    border-right: 2px solid #333;
}
.services-item h4 {
    margin-top: 20px;
    font-size: 18px;
    text-transform: uppercase;
}
.services-item p {
    margin-top: 10px;
    font-size: 12px;
    color: #999;
}

/*Main - Projects*/
.projects {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.projects--filter {
    border: 1px solid #CCC;
    background-color: #EEE;
    border-radius: 20px;
    display: inline-block;
    padding: 0 25px;    
}
.projects--filter ul, .projects--filter li {
    list-style: none;
    text-decoration: none;
}
.projects--filter li {
    padding: 10px;
    text-transform: uppercase;
    font-size: 14px;
    display: inline-block;
    color: #555;
    border-left: 1px solid #CCC;
    border-bottom: 3px solid #EEE;
    cursor: pointer;
}
.projects--filter li:first-child {
    border-left: 0;
}
.projects--filter li:hover, .projects--filter .active {
    border-bottom: 3px solid #B28756;
}

.projects--photos {
    width: 100vw;
    max-width: 1140px;
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    color: white;
}

.projects--photos .photo {
    width: 280px;
}

.photo .photoarea {
    margin: 10px;
    width: 260px;
    height: 160px;
}
.photoarea img {
    width: 260px;
    height: 160px;
}
.photoarea .photoinfo {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.6);
    width: inherit;
    height: inherit;
    color: #FFF;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.photoinfo h3 {
    font-size: 18px;
    font-weight: 550;
}
.photoarea:hover .photoinfo {
    display: flex;    
}

/*Section - Our Team*/
.bg-photo {
    background-image: url('../images/bg.jpg');
    background-position: center;
    background-size: cover;
    padding: 0;
}
.section-team-area {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 50px 0;
}
.section-team {
    width: 880px;
    overflow: hidden;
    margin: auto;
}
.section-team-area .carousels {
    width: 100vw;
    height: 100%;
}
.section-team-area .carousel {
    width: 280px;
    margin-right: 20px;
    height: 100%;
    min-height: 300px;
    display: inline-block;
    background-color: #FFF;
    padding: 30px;
}
.section-team-area .carousel-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #000;
}
.team-carousels-pointers {
    margin-top: 40px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.team-carousels-pointers .pointer {
    width: 15px;
    height: 15px;
    border: 2px solid #B28756;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
}
.pointer.active {
    background-color: #B28756;
}
.carousel-content .team-photo {
    width: 150px;
    height: auto;
}
.carousel-content .team-name {
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 30px;
}
.carousel-content .team-occup {
    font-size: 12px;
    margin-top: 5px;
    color: #999;
}
.carousel-content .team-social {
    display: flex;
    margin-top: 20px;
}
.team-social p {
    display: flex;
    width: 25px;
    border-radius: 50%;
    height: 25px;
    margin-right: 10px;
    background-color: #999;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.team-social p:hover {
    background-color: #B28756;
}

/*Section - Happy Clients*/
.bg-gray {
    background-color: rgb(240, 238, 238);    
}
.happy-clients {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(240, 238, 238); 
}
.happy-clients .client-photo {
    width: 130px;
    height: auto;
}
.happy-clients .client-name {
    font-size: 18px;
    font-weight: 700;
    margin-top: 20px;
}
.happy-clients .client-occup {
    font-size: 14px;
    font-weight: 600;
    margin-top: 5px;
}
.happy-clients .client-quote {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.client-quote img {
    margin-top: 20px;
    margin-bottom: 10px;
}
.client-quote p {
    line-height: 25px;
    width: 790px;
    text-align: center;
}

/*Section - Parcerias*/
.with-border {
    border-top: 1.5px solid #999;    
    border-bottom: 1.5px solid #999;    
}
.logo-empresas {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.logo-empresas img {
    margin-right: 80px;
}
.logo-empresas img:last-child {
    margin-right: 0;
}

/*Section - Price*/
.price {
    width: 1140px;
}
.banners-price {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.banner-price {
    width: 265px;
    padding: 20px;
    margin-right: 20px;
    background-color: #FFF;
    display: block;
    text-align: center;
}
.banner-price .price-name {
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 600;
}
.banner-price .price-value {
    margin: 10px 0 0 0;
    font-weight: 700;
    font-size: 26px;
}
.banner-price .month {
    text-transform: uppercase;
    color: #999;
    font-size: 11px;
    margin-bottom: 30px;
}
.banner-price .button {
    background-color: #333;
}
.banner-price .button a {
    text-decoration: none;
    color: #FFF;
    text-transform: uppercase;
    font-size: 14px;
}
.banner-price .button:hover, .banner-price .active {
    background-color: #B28756;
}

/*Section - Plan Premium*/
.plan-premium {
    display: flex;
    max-width: initial;
    align-items: center;
    border-bottom: 1.5px solid #CCC;
    padding-bottom: 30px;
}
.plan-premium--left {
    flex: 1;
    text-align: right;
}
.plan-premium--left img {
    width: 300px;
    margin-right: 30px;
}
.plan-premium--right {
    flex: 1;
}
.feature {
    margin-left: 30px;
}
.feature .feature-title {
    display: flex;
    flex-direction: row;
    text-transform: uppercase;
    align-items: center;
}
.feature .feature-title img {
    margin-right: 20px;
}
.feature .feature-subtitle p {
    margin-top: 5px;
    margin-bottom: 10px;
    color: #999;
    margin-left: 55px;
}
.button-premium {
    display: inline-block;
    text-align: center;
    margin-top: 30px;
    padding: 10px 40px;
    border-radius: 20px;
    background-color: #B28756;
}
.button-premium a {
    color: #FFF;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
}

/*Section - Some Facts*/
.section-facts {
    display: flex;
    padding: 10px 15px 15px 15px;
}
.banner-fact {
    flex: 1;
    text-align: center;
}
.banner-fact p {
    width: 10px;
    color: #555;
    font-weight: bold;
}
.fact-number {
    margin-top: 5px;
    text-align: center;
    font-size: 38px;
    font-weight: bold;
    color: #B28756;
    text-transform: uppercase;
}
.fact-title {
    margin-top: 5px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18px;
}
.fact-description {
    margin-top: 10px;
    font-size: 12px;
    color: #999;
}
#obs {
    padding-top: 7px;
}

/*Section - Contact*/
.contact {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.contact-share {
    display: flex;
    align-items: center;
}
.contact-share p {
    margin-left: 15px;
    font-weight: 14px;
    text-transform: uppercase;
    color: #999;
    font-weight: 700;
}
.contact-social {
    display: flex;
    flex-direction: row;
    background-color: red;
}